.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/

### VS Code ###
.vscode/

### Others ###
/target
*.db

nbactions-release-profile.xml
nbactions.xml
dependency-reduced-pom.xml
.tmcproject.yml

.nb-gradle
*~
/bin
*.log
local.properties
*.zip
.DS_Store
