<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/layout}">
    <head>
        <title>Home</title>
    </head>
    <body>
        <div layout:fragment="content" class="container">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 well text-center">
                        <div>
                            <div th:if="${picId}" class="panel-body text-center">
                                <img th:src="@{/fileBox/api/images/{id}(id=${picId})}" class="img-circle profile-avatar" height="65" width="65" alt="User avatar">
                            </div>
                            <div th:unless="${picId}"  class="panel-body text-center">
                                <img th:src="@{/img/anonymous.png}" class="img-circle profile-avatar" height="65" width="65" alt="Anonymous avatar">
                            </div>
                            <p th:text="${profileName}">name of owner</p>
                        </div>
                        <div sec:authorize="hasPermission('owner', #request.getAttribute('whoseWall'))">
                            <p><a th:href="'/fileBox/' + ${whoseWall} + '/personal'">Edit profile</a></p>
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <form class="form-horizontal" th:action="@{/fileBox/{path}/newFIle(path=${whoseWall})}"
                              th:object="${downloadFile}" method="post" enctype="multipart/form-data">

                            <div class="col-sm-10">
                                <input type="file"
                                       id="file"
                                       name="file"
                                       class="form-control"
                                       th:field="*{file}" />
                            </div>
                            <div th:if="${#fields.hasErrors('file')}" th:errors="*{file}"></div>

                            <div class="col-sm-10">
                                <select class="form-control" th:field="*{{fileVisibility}}">
                                    <option th:each="state : ${T(fi.omat.johneagle.filebox.domain.enums.FileVisibility).values()}"
                                            th:value="${state}"
                                            th:selected="${fileVisibility == T(fi.omat.johneagle.filebox.domain.enums.FileVisibility)}"
                                            th:text="${state.displayName}">
                                    </option>
                                </select>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6 col-sm-offset-3">
                                        <input type="submit"
                                               name="image-submit"
                                               id="image-submit"
                                               class="form-control btn btn-success"
                                               value="Post">
                                    </div>
                                </div>
                            </div>
                        </form>

                        <div th:each="file, iStat : ${files}">
                            <h1>
                                a
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
