<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/layout}">
    <head>
        <title>Home</title>
        <style>
            .panel {
                box-shadow: none;
            }

            .panel-heading {
                border-bottom: 0;
            }

            .panel-title {
                font-size: 17px;
            }

            .panel-title > small {
                font-size: .75em;
                color: #999999;
            }

            .panel-body *:first-child {
                margin-top: 0;
            }

            .panel-default > .panel-heading {
                color: #333333;
                background-color: transparent;
                border-color: rgba(0, 0, 0, 0.07);
            }

            .profile-avatar {
                width: 200px;
                position: relative;
                margin: 0px auto;
                margin-top: 196px;
                border: 4px solid #f3f3f3;
            }
        </style>
    </head>
    <body>
        <div layout:fragment="content" class="container">
            <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
            <div class="container bootstrap snippets">
                <div class="row">
                    <div class="col-xs-12 col-sm-9">
                        <div class="panel panel-default">
                            <div th:if="${picId}" class="panel-body text-center">
                                <img th:src="@{/fileBox/api/images/{id}(id=${picId})}" class="img-circle profile-avatar" alt="User avatar">
                            </div>
                            <div th:unless="${picId}" class="panel-body text-center">
                                <img th:src="@{/img/anonymous.png}" class="img-circle profile-avatar" alt="Anonymous avatar">
                            </div>
                        </div>

                        <form class="form-horizontal" th:action="@{/fileBox/{path}/setProfilePicture(path=${whoseWall})}"
                              th:object="${imageModel}" method="post" enctype="multipart/form-data">

                            <div class="col-sm-10">
                                <input type="file"
                                       id="file"
                                       name="file"
                                       class="form-control"
                                       th:field="*{file}" />
                            </div>
                            <div th:if="${#fields.hasErrors('file')}" th:errors="*{file}"></div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6 col-sm-offset-3">
                                        <input type="submit"
                                               name="image-submit"
                                               id="image-submit"
                                               class="form-control btn btn-success"
                                               value="Post">
                                    </div>
                                </div>
                            </div>
                        </form>

                        <form class="form-horizontal" th:action="@{/fileBox/{path}/personal(path=${whoseWall})}"
                              th:object="${personInfoModel}" method="post">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">User info</h4>
                                </div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">First name</label>
                                        <div class="col-sm-10">
                                            <input type="text"
                                                   id="firstName"
                                                   name="firstName"
                                                   class="form-control"
                                                   autofocus="autofocus"
                                                   th:field="*{firstName}" />
                                        </div>
                                        <div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Surname</label>
                                        <div class="col-sm-10">
                                            <input type="text"
                                                   id="lastName"
                                                   name="lastName"
                                                   class="form-control"
                                                   autofocus="autofocus"
                                                   th:field="*{lastName}" />
                                        </div>
                                        <div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Born</label>
                                        <div class="col-sm-10">
                                            <input type="date"
                                                   id="born"
                                                   name="born"
                                                   class="form-control"
                                                   th:field="*{born}" />
                                        </div>
                                        <div th:if="${#fields.hasErrors('born')}" th:errors="*{born}"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">Contact info</h4>
                                </div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Mobile number</label>
                                        <div class="col-sm-10">
                                            <input type="tel"
                                                   id="phoneNumber"
                                                   name="phoneNumber"
                                                   class="form-control"
                                                   th:field="*{phoneNumber}" />
                                        </div>
                                        <div th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">E-mail address</label>
                                        <div class="col-sm-10">
                                            <div class="col-sm-10">
                                                <input type="email"
                                                       id="email"
                                                       name="email"
                                                       class="form-control"
                                                       th:field="*{email}" />
                                            </div>
                                            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Address</label>
                                        <div class="col-sm-10">
                                            <input type="text"
                                                   id="address"
                                                   name="address"
                                                   class="form-control"
                                                   autofocus="autofocus"
                                                   th:field="*{address}" />
                                        </div>
                                        <div th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Post number</label>
                                        <div class="col-sm-10">
                                            <input type="text"
                                                   id="addressNumber"
                                                   name="addressNumber"
                                                   class="form-control"
                                                   autofocus="autofocus"
                                                   th:field="*{addressNumber}" />
                                        </div>
                                        <div th:if="${#fields.hasErrors('addressNumber')}" th:errors="*{addressNumber}"></div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">City</label>
                                        <div class="col-sm-10">
                                            <input type="text"
                                                   id="city"
                                                   name="city"
                                                   class="form-control"
                                                   autofocus="autofocus"
                                                   th:field="*{city}" />
                                        </div>
                                        <div th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-10 col-sm-offset-2">
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                            <button type="reset" class="btn btn-default">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <form class="form-horizontal" th:action="@{/fileBox/{path}/update(path=${whoseWall})}"
                              th:object="${changePasswordModel}" method="post">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">Change password</h4>
                                </div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Current password</label>
                                        <div class="col-sm-10">
                                            <input type="password"
                                                   id="oldPassword"
                                                   name="oldPassword"
                                                   class="form-control"
                                                   th:field="*{oldPassword}" />
                                        </div>
                                        <div th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}"></div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">New password</label>
                                        <div class="col-sm-10">
                                            <input type="password"
                                                   id="newPassword"
                                                   name="newPassword"
                                                   class="form-control"
                                                   th:field="*{newPassword}" />
                                        </div>
                                        <div th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"></div>
                                    </div><div class="form-group">
                                    <label class="col-sm-2 control-label">Confirm new password</label>
                                    <div class="col-sm-10">
                                        <input type="password"
                                               id="newPasswordAgain"
                                               name="newPasswordAgain"
                                               class="form-control"
                                               th:field="*{newPasswordAgain}" />
                                    </div>
                                    <div th:if="${#fields.hasErrors('newPasswordAgain')}" th:errors="*{newPasswordAgain}"></div>
                                </div>
                                    <div class="form-group">
                                        <div class="col-sm-10 col-sm-offset-2">
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                            <button type="reset" class="btn btn-default">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script>
          document.getElementById("image-submit").addEventListener("click", function(event) {
            if (window.File && window.FileReader && window.FileList && window.Blob) {
              //get the file size and file type from file input field
              var field = $('#file');

              var fsize = field[0].files[0].size;
              var ftype = field[0].files[0].type;

              switch(ftype) {
                case 'image/png':
                case 'image/gif':
                case 'image/jpeg':
                case 'image/jpg':
                  break;
                default:
                  alert('Image file must be in format of either jpg, jpeg, png or gif!');
                  event.preventDefault();
              }

              if(fsize > 3145728) {
                alert("Image must not excess size of 3MB!");
                event.preventDefault();
              }
            }
          });
        </script>
    </body>
</html>
