<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/layout}">
    <head>
        <title>Home</title>
    </head>
    <body>
        <div layout:fragment="content" class="container">
            <div class="row" th:each="person, iStat : ${result}">
                <div class="col-sm-4">
                    <div>
                        <div th:if="${person.pic}">
                            <img th:src="@{/old-face/api/images/{id}(id=${person.pic})}" class="img-circle" height="65" width="65" alt="Avatar">
                        </div>
                        <div th:unless="${person.pic}">
                            <img th:src="@{/img/anonymous.png}" class="img-circle" height="65" width="65" alt="Anonymous Avatar">
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div>
                        <div class="row">
                            <a th:href="'/fileBox/' + ${person.nickname}">
                                <span th:text="${person.name}"> creator </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
